.jumbotron{margin-bottom:20px;padding:80px 20px;text-align:center;background-color:#eed}.jumbotron h1{font-size:64px;line-height:1}
.jumbotron .btn{font-size:21px;padding:14px 24px}
.social-class li{margin-bottom:4px}
.social-class code{cursor:default}
.links{margin:0;list-style:none}.links li{display:inline;padding:0 10px;color:rgba(0,0,0,0.85)}
footer{text-align:center;opacity:.8;margin:0 0 40px}
.how-to h2{text-align:center}
.how-to li{font-size:21px;line-height:1.5;margin-top:20px}.how-to li p{font-size:16px;color:#555;line-height:24px}
.how-to code{font-size:85%;word-wrap:break-word;white-space:normal}
